services:
  # python-matter-server
  matter-server:
    image: ghcr.io/matter-js/python-matter-server:8.1.2@sha256:6827e352011e2d8c2bde771e446fcf72acc49150ef66bad978816bac1762aad3
    container_name: matter-server
    restart: unless-stopped
    # Required for mDNS to work correctly
    network_mode: host
    # security_opt:
      # Needed for Bluetooth via dbus
      # - apparmor:unconfined
    volumes:
      # Create an .env file that sets the USERDIR environment variable.
      - ./data:/data/
      # Required for Bluetooth via D-Bus
      # - /run/dbus:/run/dbus:ro
    # If you adjust command line, make sure to pass the default CMD arguments too:
    #command: --storage-path /data --paa-root-cert-dir /data/credentials --bluetooth-adapter 0
