services:
  omni:
    restart: always
    container_name: omni
    image: ghcr.io/siderolabs/omni:v1.3.4@sha256:8b429932710669766e93dfdd7ca2b378dff3d81bf7b026896d3c541e4109cd7d
    volumes:
      - /home/serveradmin/omni/etcd:/_out/etcd
      - /etc/letsencrypt/live/omni.${DOMAIN}/fullchain.pem:/tls.crt
      - /etc/letsencrypt/live/omni.${DOMAIN}/privkey.pem:/tls.key
      - /home/serveradmin/omni/omni.asc:/omni.asc
    command:
      - --account-id=${ACCOUNT_ID}
      - --name=onprem-omni
      - --cert=/tls.crt
      - --key=/tls.key
      - --siderolink-api-cert=/tls.crt
      - --siderolink-api-key=/tls.key
      - --private-key-source=file:///omni.asc
      - --event-sink-port=8091
      - --bind-addr=0.0.0.0:443
      - --siderolink-api-bind-addr=0.0.0.0:8090
      - --k8s-proxy-bind-addr=0.0.0.0:8100
      - --advertised-api-url=https://omni.${DOMAIN}
      - --siderolink-api-advertised-url=https://omni.${DOMAIN}:8090/
      - --siderolink-wireguard-advertised-addr=${ADVERTISED_IP}:50180
      - --advertised-kubernetes-proxy-url=https://omni.${DOMAIN}:8100/
      - --auth-auth0-enabled=true
      - --auth-auth0-domain=${AUTH0_DOMAIN}
      - --auth-auth0-client-id=${AUTH0_CLIENT_ID}
      - --initial-users=${INITIAL_EMAIL}
      - --enable-break-glass-configs
    network_mode: host
    cap_add:
      - NET_ADMIN
    privileged: true
  omni-bare-metal-infra-provider:
    restart: always
    container_name: omni-bare-metal-infra-provider
    image: ghcr.io/siderolabs/omni-infra-provider-bare-metal:v0.7.0@sha256:eafdfff7b2ab32635a4ab035fc77bb1d1f52eaffab063ce025d6fc77fd8bd103
    environment:
      OMNI_ENDPOINT: https://omni.${DOMAIN}
      OMNI_SERVICE_ACCOUNT_KEY: ${BARE_METAL_INFRA_PROVIDER_KEY}
    command:
      - --api-advertise-address=${ADVERTISED_IP}
    network_mode: host
